<div class="footer">
  <div class="footer-links">
    <%= link_to '', team_path, class:"fab fa-github" %>
    <%= link_to '', team_path, class:"fab fa-instagram" %>
    <%= link_to '', team_path, class:"fab fa-facebook" %>
    <%= link_to '', team_path, class:"fab fa-twitter" %>
    <%= link_to '', team_path, class:"fab fa-linkedin" %>
<!--     <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a> -->
  </div>
  <div class="footer-copyright">
    <!-- Reading the world while discovering it. -->
  </div>
</div>
